/* Variables */

// theme 01
$base-color-01: #F57921;
$base-bg-color-01: #111;

// theme 02
$base-color-02: #FFEF00;
$base-bg-color-02: #222;

// theme 03
$base-color-03: #66D9EF;
$base-bg-color-03: #272822;

// theme 04
$base-color-04: #A2D92B;
$base-bg-color-04: #202020;