/*!
 * ress.css • v1.2.2
 * MIT License
 * github.com/filipelinhares/ress
 */


/*
 * Fix
 * Version 0.1.1
 * https://github.com/jaydenseric/Fix
*/


/* # =================================================================
   # Global selectors
   # ================================================================= */

html {
    box-sizing: border-box;
    overflow-y: scroll; /* All browsers without overlaying scrollbars */
    -webkit-text-size-adjust: 100%; /* iOS 8+ */
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}

*, ::before, ::after {
    background-repeat: no-repeat;
    /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
    box-sizing: inherit;
}

::before, ::after {
    text-decoration: inherit;
    /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
    vertical-align: inherit;
}

* {
    padding: 0; margin: 0;
}

body {
    line-height: 1;
    font-family: sans-serif;
    background-color: #0c061e;
    color: #23c0ec;
}


/* # =================================================================
   # General elements
   # ================================================================= */

ul, ol {
    padding-left: 0;
}

li {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
}

blockquote {
    padding: 0;
}

/*
* Correct `block` display not defined for any HTML5 element in IE 8/9
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox
* Correct `block` display not defined for `main` in IE 11
*/

article, aside, figcaption, figure, footer, header, main, nav, section {
    display: block;
}

[hidden], template {
    display: none; /* Add the correct display in IE */
}

abbr[title] {
    border-bottom: 1px dotted;
    /* Add a bordered underline effect in all browsers */
    text-decoration: none;
    /* Remove text decoration in Firefox 40+ */
}

a {
    background-color: transparent; /* Remove the gray background on active links in IE 10 */
    -webkit-text-decoration-skip: objects; /* Remove gaps in links underline in iOS 8+ and Safari 8+ */
    text-decoration: none;
    color: inherit;
}

a:active, a:hover {
    outline-width: 0;
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    /* Specify the font family of code elements */
}

b, strong {
    font-weight: bold;
}


/* # =================================================================
   # Specify media element style
   # ================================================================= */

img {
    border-style: none;
    /* Remove border when inside `a` element in IE 8/9/10 */
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

svg:not(:root) {
    overflow: hidden;
    /* Internet Explorer 11- */
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/* # =================================================================
   # Selection
   # ================================================================= */


/* Specify text selection background color and omit drop shadow */

::-moz-selection {
    background-color: #b3d4fc;
    /* Required when declaring ::selection */
    color: #000;
    text-shadow: none;
}

::selection {
    background-color: #b3d4fc;
    /* Required when declaring ::selection */
    color: #000;
    text-shadow: none;
}

/* # =================================================================
   # Fonts
   # ================================================================= */

@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon.eot");
    src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
    font-weight: normal;
    font-style: normal
}

[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-google-plus:before {
    content: "\e000"
}

.icon-facebook:before {
    content: "\e001"
}

.icon-github:before {
    content: "\e002"
}

.icon-skype:before {
    content: "\e003"
}

.icon-linkedin:before {
    content: "\e004"
}

.icon-twitter:before {
    content: "\e005"
}

/* # =================================================================
   # Helpers
   # ================================================================= */

.wrapper { margin-left: auto; margin-right: auto; position: relative;}

.inlineblock {display: -moz-inline-stack;display: inline-block;vertical-align: top;*display: inline;*zoom: 1;}

.visuallyhidden {border: 0;clip: rect(0, 0, 0, 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px;}

.screen-reader-text {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.hidden {display: none !important;visibility: hidden;}

.ir {background-color: transparent;border: 0;overflow: hidden;*text-indent: -9999px}

.ir:before {content: "";display: block;width: 0;height: 150%}

.cf:before, .cf:after {content: " ";display: table}
.cf:after {clear: both}
.cf {*zoom: 1}

/* modern clearfix */
.group:after {
  content: "";
  display: table;
  clear: both;
}
