---
const today = new Date();
---

<footer>
  <p class='copyright'>
    &copy {today.getFullYear()} Handcrafted by Fabrício Oliveira.
  </p>
</footer>
<div class='footer-pattern'></div>

<!-- <footer>
	&copy; {today.getFullYear()} YOUR NAME HERE. All rights reserved.
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style> -->
