---
const { date, class: className = "post-published" } = Astro.props;

const day = ("0" + date.getUTCDate()).slice(-2);
const month = ("0" + (date.getUTCMonth() + 1)).slice(-2);
const year = date.getUTCFullYear();
---

<span class:list={[className]}>
  <time datetime={date.toISOString()}>
    {`${day}/${month}/${year}`}
    {
      /*
      date.toLocaleDateString("pt-br", {
        year: "numeric",
        month: "2-digit",
        day: "2-digit",
        timeZone: "America/Sao_Paulo",
        hourCycle: "h23",
      })*/
    }
  </time>
</span>
