---
import NavLink from "./NavLink.astro";
---

<nav
  id='site-navigation'
  class='main-nav'
  role='navigation'
  aria-label='Top Menu'
>
  <ul id='navigation' class='top-nav'>
    <NavLink href='/'>home</NavLink><NavLink href='/blog'>blog</NavLink>
  </ul>
</nav>
