{% extends "base.html" %}
{% set active_page = "blog" %}
{% block codelang %}{{ post.syntax }}{% endblock %}

{% block title %}{{ post.title }} | Blog | Fabrício Oliveira{% endblock %}
{% block ogtitle %}{{ post.title }} | Fabrício Oliveira{% endblock %}

{% block description %}Sou Desenvolvedor Front-end em São Pedro da Aldeia-RJ. Esse é meu blog onde espero compartilhar o que estou aprendendo!{% endblock %}
{% block ogdescription %}Esse é meu blog onde espero compartilhar o que estou aprendendo!{% endblock %}

{% block body %}
    <div class="intro-container">
      <div class="wrapper cf">

          <h1 class="name" rel="author" itemprop="name">Fabrício Oliveira</h1>
          <h2 class="job-title"><span itemprop="jobTitle">Desenvolvedor Front-end</span></h2>

          <ul class="social-links group">
              <li><a rel="me" itemprop="url" href="https://github.com/fabloliv" class="icon icon-github" title="GitHub"><span class="screen-reader-text">GitHub</span></a></li>
              <li><a rel="me" itemprop="url" href="http://br.linkedin.com/in/fabriciolo/" class="icon icon-linkedin2" title="LinkedIn"><span class="screen-reader-text">LinkedIn</span></a></li>
              <li><a rel="me" itemprop="url" href="https://www.facebook.com/fabloliv/" class="icon icon-facebook" title="Facebook"><span class="screen-reader-text">Facebook</span></a></li>
              <li><a rel="me" itemprop="url" href="http://twitter.com/fabloliv" class="icon icon-twitter" title="Twitter"><span class="screen-reader-text">Twitter</span></a></li>
              <li><a rel="author" itemprop="url" href="https://plus.google.com/104978548561595646334" class="icon icon-google-plus" title="Google Plus"><span class="screen-reader-text">Google Plus</span></a></li>
          </ul>
      </div>
    </div>

    <div class="skillcloud-container">
      <div class="wrapper cf">
          <h3 class="page-title">Blog</h3>
      </div>
    </div>

    <div class="portfolio-container">
      <div class="wrapper cf">
          <article class="article">

              <h1 class="article-title">{{ post.title }}</h1>

              <span class="article-published">
                <time datetime="{{ post.published|date("%Y-%m-%d") }}">
                    {{ post.published|date("%d/%m/%Y") }}
                </time>
              </span>

              <section class="article-content">
                {{ post.content|safe }}
              </section>

          </article>
      </div>
    </div>
{% endblock %}