/* # =================================================================
   # Helpers
   # ================================================================= */

.inlineblock {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
}

.visuallyhidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.screen-reader-text {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%
}

.cf:before,
.cf:after {
    content: " ";
    display: table
}

.cf:after {
    clear: both
}

.cf {
    *zoom: 1
}

// modern CF
.group:after {
    content: "";
    display: table;
    clear: both;
}