// Media Queries
/*
$bp-small : 24em;
$bp-med : 46.8em;
$bp-large : 50em;
$bp-xl : 73em;*/

$bp-small-portrait: 360px; // 22.5em
$bp-small-landscape: 640px;

$bp-med-portrait: 600px;
$bp-med-landscape: 640px;

$bp-large-tablet: 768px;
$bp-large-desktop: 1366px;

@mixin respond-to($media) {
    @if $media == small {
        @media only screen and (max-width: $bp-med-portrait) {
            @content;
        }
    }
    @else if $media == medium {
        @media only screen and (min-width: $bp-med-portrait + 1) {
            @content;
        }
    }
    @else if $media == tablet {
        @media only screen and (min-width: $bp-large-tablet + 1) {
            @content;
        }
    }
    @else if $media == wide {
        @media only screen and (min-width: $bp-large-desktop + 1) {
            @content;
        }
    }
}
